body {
  font-size: 16px;
  color: #eeefeb;
  background-color:#ddeac1 ;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color:#494449 ;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  
  color: #eeefeb;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: -10px;
  margin-bottom: 0px;
  line-height: .75;
}

.navbar-brand :hover, .navbar-brand :focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #eeefeb;
  text-align: center;
}
#nav-list a:hover {
  background: #000;
}

#title{
	color: #494449;
	margin-top: -5px;
	font-weight: bold;
	font-size: 1.5em;
}

.menu-tile {
	background-color:  #8e9189;
	border: 2px solid #857f74;
	margin: 15px;
	padding: 5px;

}

.menu-tile h3{
	font-size: 1.2em;
	font-weight: bold;
}

.menu-tile p
{
	text-align: justify;
	padding: 15px;
}

.link{
	color: blue;
}


